[client]
# 客户端与服务器通信时使用的字符集
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# 服务器默认使用的字符集及排序规则，如新建库表等
character-set-server = utf8mb4
# 不区分重音、不区分大小写
collation-server = utf8mb4_0900_ai_ci

# 服务器时区
default-time-zone = '+08:00'

# SQL模式
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

# 允许外部连接
bind-address = 0.0.0.0

# 端口号（默认3306）
port = 3306

# 最大连接数
max_connections = 200

# 最大包大小
max_allowed_packet = 64M

# InnoDB 引擎相关配置
default-storage-engine = InnoDB
# 缓冲池大小（生产为物理内存70%左右）
innodb_buffer_pool_size = 512M
# 缓冲池个数，多个缓冲池可以有效降低锁冲突，每个缓冲池平分总的size
innodb_buffer_pool_instances = 4
# redo log 文件大小
innodb_redo_log_capacity = 256M
# 每个表使用独立的表空间文件
innodb_file_per_table = 1
# 事务提交时则刷新redo log缓冲区，并fsync
innodb_flush_log_at_trx_commit = 1
# 日志缓冲区大小
innodb_log_buffer_size = 64M
# 所有写操作均先写入缓冲池
innodb_change_buffering = all
# 打印所有死锁信息
innodb_print_all_deadlocks = 1

# 慢查询日志
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 3

# 错误日志
log_error = /var/log/mysql/error.log

# binlog文件前缀
log_bin = /var/log/mysql/mysql-bin
max_binlog_size = 1G
binlog_expire_logs_seconds = 604800
binlog_format = ROW
# 事务提交后立即写入binlog
sync_binlog = 1
binlog_cache_size = 1M
# 开启全局事务唯一id，便于从库同步
gtid_mode = ON
enforce_gtid_consistency = ON

# 跳过DNS反解
skip-name-resolve